{{ define "main" }}
    <main aria-role="main">
        <div>
         <p>PodBean acc တစ်ခုဖွင့်ပြီး</p>
         <p>Embeded လုပ်ဖို့ စမ်းကြည့်ထားပါတယ်</p>   
                <div>
                <p>podbean က Episode download link ပေးတာကိုတွေ့ပါတယ်</p>    
                <img src="/pd1.PNG"> 
                <p>အဲ့linkကို Audio player မှာတိုက်ရိုက်ယူသုံးလို့အဆင်ပြေပါတယ်</p> 
                <audio controls="true"><source src="https://otamyanmar.podbean.com/mf/play/r1k265/y2matecom-WeatheringWithYouOST_RADWIMPS-IsThereStillAnythingThatLoveCanDo__J97ORP768HIb46x1.mp3" type="audio/mpeg"></audio>
                 <p>Basic HTML5 player နဲ့စမ်းပြထားတာဆိုပေမယ့် စိတ်ကြိုက် Audio player Design နဲ့ customize လုပ်လို့ရပါတယ်</p>
                 <p>အဲ့လိုသုံးမယ်ဆိုရင်တော့အခုDesign နဲ့လဲကိုက်တယ်</p> 
                 <p>Database ထဲသိမ်းလို့လဲ အဆင်ပြေတဲ့အနေအထားမှာရှိပါတယ်</p> 
                 <img src="/pd2.PNG">
                 <p>သူ့embeded player ကတော့ colorနည်းနည်းချိန်းလို့ရေပမယ့်</p>
                 <p>customize လုပ်လို့မရပါဘူးပြီးတော့</p>
                 <p>ထုတ်ပေးတဲ့Html code တွေက Database ထဲမှာသိမ်းဖို့လဲအဆင်မပြေပါဘူး</p>
                                 
                </div>
            
        </div>
    </main>
{{ end }}
